.loginContainer {
    max-width: 370px;
    background-color: #333333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px #000000;
    border: 2px solid #444444;
}

.authLogo {
    width: 288px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    filter: drop-shadow(0 5px 10px #000000);
}

.authAlert {
    border-radius: 8px;
    background-color: #212121;
    border-left: 5px solid #444444;
    padding: 4px;
}

.authAlertError {
    border-left-color: #e9002b;
}

.authAlertInfo {
    border-left-color: #00a0e9;
}

.form-text.authShowForgotPassword {
    color: #e9002b;
    text-decoration: underline;
    cursor: pointer;
}
