html {
    height: 100%;
}

body {
    background-color: #212121;
    color: #ffffff;
    text-shadow: 0 2px 3px #000000;
    font-family: "Neo Sans Std";
    font-size: 18px;
    font-weight: normal;
    height: 100%;
    line-height: 1;
    overflow: hidden;
}

.baseContainer {
    height: 100%;
    position: relative;
}
